.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #282c34;
}

/* changing bot image icon background */
.react-chatbot-kit-chat-bot-avatar-container {
  background: black;
}

/*  changing bot image icon color */
.react-chatbot-kit-chat-bot-avatar-letter {
  color: #ffffff;
}

.react-chatbot-kit-chat-input {
  outline: none;
}
.react-chatbot-kit-chat-input:hover {
  outline: none;
}
.react-chatbot-kit-chat-btn-send {
  cursor: pointer;
}

/* decision test yes or no design */
.decision-header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
